body{
    background-color: rgb(160, 179, 182);
}

img{
width: 500px;
}

.meme {
    background:rgb(27, 26, 26);
    padding: 25px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}